# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    osmbc.token: 'get your token from osmbc'

    #MlcollectBundle
    mlcollect.imap_server: 'example.com:143'
    mlcollect.imap_user: me@example.com
    mlcollect.imap_password: pass
    mlcollect.imap_box: INBOX
    
    mlcollect.mailer_transport: smtp
    mlcollect.mailer_host: example.com
    mlcollect.mailer_user: me@example.com
    mlcollect.mailer_password: pass
    mlcollect.from_name: 'Me or You'
    mlcollect.from_email: me@example.com
